<div class="col-md-4">
    Artists list

    <ul>
        {{#each model as |item artists|}}
            <li>lolol: {{item}}</li>
        {{/each}}
    </ul>
</div>

<div class="col-md-8">
    {{outlet}}
</div>
